body{
  background-color: #c4bbf7;
  background-size: cover;
  background-position: center center;
}


.s003 {
 
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #dcd9f3;
  background-size: contain;
  background-position: center center;
  padding: 30px 40px;
}

.heading{
  color: white;
  font-size: 29px;
  padding: 30px 40px;
  display:block;
  background-color: rgba(97, 59, 100, 0.5);
}