body{
  background-color: #c4bbf7;
  background-size: cover;
  background-position: center center;
}


.s003 {
 
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #dcd9f3;
  background-size: contain;
  background-position: center center;
  padding: 30px 40px;
}


.heading{
  color: white;
  font-size: 29px;
  padding: 12px 12px;
  background-color: rgba(194, 108, 202, 0.9);
  font-family: 'Poppins', sans-serif;
}

.sub-heading{
  color: white;
  font-size: 20px;
  padding: 12px 12px;
  background-color: rgba(194, 108, 202, 0.1);
  font-family: 'Poppins', sans-serif;
}

.did-you-mean{
  font-size: 17px;
  margin-left:6vh;
  font-family: 'Poppins', sans-serif;
  display:inline-block;
}

.suggestions{
  color:rgb(0, 0, 0);
  font-size: 17px;
  font-style: italic;
  margin-left:3vh;
  margin-right:6vh;
  font-family: 'Poppins', sans-serif;
  display:inline-block;
}

.results{
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  margin-left: 12vh;
}
.dym{
  white-space: nowrap;
  overflow-x: auto;
}

.each{
  display: inline-block;
  background-color: aliceblue;
}