<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<script type="text/javascript" src="{{ url_for('static',filename='script/script.js') }}">
  
</script>

</head>
<body>

<h2>HTML Forms</h2>

<form action="/submit" method='POST'>
  <label for="Type your query here">Type your query here:</label><br>
  <input type="text" id="query" name="query" value="0"><br>
  <input type="submit" value="Submit">

  <label for="Choose a model">Choose a model:</label>
  <select name="Model" id="Model">
    <option value="BM25" selected>BM25</option>
    <option value="TFIDF">TFIDF</option>
  </select>

  <label for="Enter no. of documents">Enter no. of documents</label>
  <select name="Docno" id="Docno">
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100" selected>100</option>
  </select>
</form> 

</body>
</html>